<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <connectionStrings>
    <add name="connStr" connectionString="Database=SCSM;Data Source=localhost;Port=3306;User Id=root;Password=;SslMode=none;Charset=utf8;TreatTinyAsBoolean=false;"/>
  </connectionStrings>
</configuration>  
